@import '../../sass/variables';

.quiz-item {
  margin: 1rem;
  min-width: 17.5rem;
  text-align: center;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: $color-white;
    background: $color-primary;
    transition: all 0.2s;
  }

  a:hover,
  a:active {
    background: $color-secondary;
  }

  &__content {
    padding: 0;
  }

  &__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  &__info {
    h2 {
      font-size: 2rem;
      margin: 0 0 0.5rem 0;
      font-weight: normal;
      color: $color-secondary;
    }

    h3 {
      font-size: $default-font-size;
      margin: 0;
    }
  }

  &:hover h2,
  &:active h2,
  &:hover h3,
  &:active h3,
  &:hover p,
  &:active p {
    color: $color-dark;
  }
}
