@import '../../sass/variables';

.quizzes-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: max-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  &-add {
    position: absolute;
    top: 50%;
    right: -5rem;
    transform: translateY(-50%);
  }
}
