@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

@import './sass/main';

/* Forms */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: $default-font-size;
  border: 1px solid #ccc;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  max-width: 50%;
  margin: 2rem auto;
  padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
  text-align: center;
}

/* CUSTOM */

@keyframes moveInTop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}

.is-error {
  color: red;
}

.has-error {
  border: 1px solid red !important;
}
