@import '../../../sass/variables';

.nav-links {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    margin: 1rem;
  }

  a {
    border: 1px solid transparent;
    color: #292929;
    text-decoration: none;
    padding: 1rem;
  }

  a:hover,
  a:active,
  a.active {
    background: $color-secondary;
    border-color: $color-dark;
    color: $color-dark;
  }

  button {
    cursor: pointer;
    border: 1px solid $color-dark;
    color: $color-dark;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
  }

  button:focus {
    outline: none;
  }

  button:hover,
  button:active {
    background: $color-dark;
    color: $color-white;
  }
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;

    li {
      margin: 0 0.5rem;
    }

    a {
      color: $color-white;
      text-decoration: none;
    }

    button {
      border: 1px solid $color-white;
      color: $color-white;
      background: transparent;
    }

    button:hover,
    button:active {
      background: $color-secondary;
      color: $color-dark;
    }
  }
}
