.container {
  max-width: 1200px;
  margin: auto;
  margin-top: inherit;
  overflow: hidden;
  padding: 0 2rem;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: $color-dark;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-danger {
  color: $color-danger;
}

.text-warning {
  color: $color-warning;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
