// Colors
$color-primary: #4a148c;
$color-primary-light: #7c43bd;
$color-primary-dark: #12005e;

$color-secondary: #ffc107;
$color-secondary-light: #ffecb3;
$color-secondary-dark: #ffa000;

$color-success: #28a745;
$color-danger: #830000;
$color-warning: #f0ad4e;
$color-white: #fff;
$color-black: #000;
$color-light: #f4f4f4;
$color-dark: #333333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;

// Font
$default-font-size: 1.6rem;

// MILOKVIZ THEME

$color-primary: #ef3340;
$color-primary-dark: #004b87;

$color-secondary: #daaa00;
$color-secondary-dark: #cc8a00;
