@import '../../../sass/variables';
@import '../../../sass/mixins';

.button {
  // Default styles
  @include button-state-colors($color-black);

  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  // Button Size
  &--small {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 0.2rem;
  }

  &--big {
    font-size: $default-font-size;
    padding: 1.5rem 4rem;
  }

  // Button shape
  &--rounded {
    border-radius: 10rem;
  }

  &--round {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: 1rem;
    padding: 0.5 1rem;
  }

  // Button look
  &--block {
    display: block;
    width: 100%;
  }

  &--link {
    background: none;
    padding: 0;
    margin: 0;
  }

  // Button colors
  &--primary {
    @include button-state-colors($color-primary);
  }

  &--success {
    @include button-state-colors($color-success);
  }

  &--warning {
    @include button-state-colors($color-warning);
  }

  &--danger {
    @include button-state-colors($color-danger);
  }

  &--dark {
    @include button-state-colors($color-dark);
  }

  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }

  // Button fancy
  &--animate {
    transition: all 0.2s;
    position: relative;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      background-color: inherit;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  }
}
